.pageHeader {
  border: 1px solid black;
  background-color: lightgray;
  color: slategray;
  text-align: center;
 }

.navHeader {
border: 1px solid black;
background-color: white;
color: darkgray;
text-align: center;
}

.qPic {
    width: 200px;
    margin: 3px;
    padding: 3px;
}

.boxStyling {
    border: 1px solid black;
    background-color: lightgray;
    height: auto;
}

.fixed-bottom {
    background-color: rgb(63, 58, 58);
    color: white;

}
